{% extends "municipality_dashboard/base2.html" %}
{% block title %}<title>About Us</title>{% endblock %}
{% block content %}
	<h1 align="center" >WELCOME!</h1>
    <p >At Saarthi we try to connect Ministry of Road Transport and Highways and the citizens .
     Innovation and simplicity makes us happy: our goal is to remove any technical or communication barriers which prevents the development .
     Technology has been proved to be an effective means of development. 
     Saarthi is a solution based on GIS Based Images of the potholes/Landslides/Accidents/Other Hazards which are captured by the citizens.
     It connects the citizen by providing a space to report such problems by posting images of exact location.
     Government has the access to all the information provided and hence can resolve it as soon as possible .
     In return citizens do get reward points(which provides some privileges on toll-taxes etc) when a particular reported problem has been verified to be correct by the government.
     We're excited to connect you with the government!</p>
{% endblock content %}